@import "reset.css";
@import "theme.css";
@import "atoms.css";
@import "components.css";

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;;
}

body {
  color: var(--color);
  font-family: var(--font-text);
  line-height: 1.5;
}
