.hstack {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
}

.hstack > * {
  margin-right: calc(var(--gap));
  margin-bottom: calc(var(--gap));
}
